body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
}

#quiz-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.btn-container {
    margin-top: 10px;
}

.btn {
    margin: 5px;
}

#next-button {
    display: none;
}
